@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './Home.module.css';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@600;700&display=swap');

@layer base {
  :root {
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(236, 18%, 18%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
