.rocket {
  transform: rotate(60deg);
  animation-name: fly;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.fuel {
  animation-name: fire;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}

.meteor-float {
  animation-name: rotate;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.meteor-wheel {
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.meteor-wheel-2 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fire {
  from {
    width: 32px;
  }
  to {
    width: 64px;
  }
}

@keyframes fly {
  from {
    bottom: 0px;
    left: -240px;
  }
  to {
    transform: rotate(10deg) translate(1600px, -1250px);
  }
}

@keyframes float {
  from {
    left: -240px;
  }
  to {
    left: 3600px;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
